<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Tac+One&display=swap"
      rel="stylesheet"
    />
    

    <link rel="stylesheet" href="/css/admin/admin.css">
    {{#if (compare currentPage "admin-table")}} 
        <link rel="stylesheet" href="/css/admin/table.css">
    {{/if}}

    {{#if (compare currentPage "admin-trash")}} 
        <link rel="stylesheet" href="/css/admin/trash.css">
    {{/if}}
    <title>Admin | Lacoste</title>
  </head>
  <body>
    <div id="container">
        {{> headerAdmin}}

        <div class="main">
            {{{body}}}
        </div>
    </div>

    </div>



  </body>
</html>