<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="/css/client/header.css">
    <link rel="stylesheet" href="/css/client/footer.css">

    {{#if (unCompare currentPage "Account")}} 
      <link rel="stylesheet" href="/css/client/home.css">
    {{/if}}
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Tac+One&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div id="container">
        {{> header}}

        {{{body}}}

        {{> footer}}
    </div>
    <script src="/js/showHeader.js"></script>
    <script src="/js/hiddenNav.js"></script>
    <script
      src="https://kit.fontawesome.com/b8d3f92d8d.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>