<main>
  <section class="banner">
    <img src="/img/home/banner-home.avif" alt="" />
    <div class="text-banner">
      <h2>Must-haves available exclusively online</h2>
      <div class="action-banner">
        <button>FOR HIM</button>
        <button>FOR HER</button>
      </div>
    </div>
  </section>
  <section class="album-show">
    <div class="title-album">SIGNATURE ESSENTIALS</div>
    <div class="card-album">
      <div class="card">
        <a href="">
          <img src="/img/home/alb1.avif" alt="" />
        </a>
        <div class="link-album">
          <a href=""> Signature Sweatshirts</a>
        </div>
      </div>
      <div class="card">
        <a href="">
          <img src="/img/home/alb2.avif" alt="" />
        </a>
        <div class="link-album">
          <a href=""> Sneakers. Sport meets fashion.</a>
        </div>
      </div>
      <div class="card">
        <a href="">
          <img src="/img/home/alb3.avif" alt="" />
        </a>
        <div class="link-album">
          <a href=""> Iconic polo shirts. For him.</a>
        </div>
      </div>
      <div class="card">
        <a href="">
          <img src="/img/home/alb4.avif" alt="" />
        </a>
        <div class="link-album">
          <a href=""> 100% Tracksuits</a>
        </div>
      </div>
      <div class="card">
        <a href="">
          <img src="/img/home/alb5.avif" alt="" />
        </a>
        <div class="link-album">
          <a href=""> Coats and jackets. The essentials</a>
        </div>
      </div>
    </div>
  </section>
  <section class="video-home">
    <div class="video">
      <video
        muted
        id="myVideo"
        src="/video/videoHome.webm"
      ></video>
      <div id="pauseBtn" class="pause-btn">
        <i class="fa-solid fa-pause"></i>
      </div>
    </div>

    <div class="text-video">
      <div>
        <div class="text">
          <h1>FRENCH FASHION SPORT SILHOUETTE</h1>
          <p>
            Lacoste unveils its new signature look, a fashion and sport
            silhouette that celebrates its French heritage. Bold,
            minimalist, fashionable and contemporary.
          </p>
        </div>
        <div class="action-banner">
          <a href="">FOR HIM</a>
          <a href="">FOR HER</a>
        </div>
      </div>
    </div>
  </section>
  <section class="content-bottom">
    <div class="bottom-title">THE LACOSTE WORLD</div>
    <div class="content-box">
      <div class="content">
        <img src="/img/home/img-content-1.avif" alt="" />
        <div class="overlay"></div>
        <div class="text-content">
          <div class="text-content-bottom">
            <h2>Crocodile leather goods</h2>
          </div>
          <div class="action-content-bottom">
            <a href="">For Him</a>
            <a href="">For Her</a>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/img/home/img-content-2.avif" alt="" />
        <div class="overlay"></div>
        <div class="text-content">
          <div class="text-content-bottom">
            <h2>Must-haves available exclusively online</h2>
          </div>
          <div class="action-content-bottom">
            <a href="">For Him</a>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/img/home/img-content-3.avif" alt="" />
        <div class="overlay"></div>
        <div class="text-content">
          <div class="text-content-bottom">
            <h2>Lacoste in Miami</h2>
          </div>
          <div class="action-content-bottom">
            <a href="">The Tennis Collection</a>
          </div>
        </div>
      </div>
      <div class="content">
        <img src="/img/home/img-content-4.avif" alt="" />
        <div class="overlay"></div>
        <div class="text-content">
          <div class="text-content-bottom">
            <h2>Spring Selection</h2>
          </div>
          <div class="action-content-bottom">
            <a href="">For Him</a>
            <a href="">For Her</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slide-show-bottom">
    <div class="bottom-title slide-title">WE ARE LACOSTE <img src="https://seeklogo.com/images/L/lacoste-logo-35C4FDA0D0-seeklogo.com.png" alt=""></div>
    <div class="content-slide">
      <div class="img-slide">
        <img class="imageSlide" src="/img/home/slide-show-bottom.avif" alt="" />
      </div>
      <div class="text-video text-slide-container">
        <div>
          <div class="text text-slide">
            <h1 class="title-slide">LACOSTE FW24 FASHION SHOW</h1>
            <p class="description-slide">
              Discover the looks of the Lacoste FW24 fashion show by Pelagia Kolotouros, the House's Creative Director.
            </p>
          </div>
          <div class="action-banner action-slide">
            <a class="action-link" href="">WACTH THE SHOW</a>
          </div>
        </div>
    </div>
    <div class="arrow-slide">
      <button class="minus"><i class="fa-solid fa-arrow-left"></i></button>
      <div>
        <span class="currentSlide">1</span>
        /
        <span class="totalSlide">5</span>
      </div>
      <button class="plus"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </section>
</main>
<script src="/js/slideShowHome.js"></script>
<script src="/js/setupVideo.js"></script>
<script src="/js/mouseScrollAlbum.js"></script>

