footer {
  background-color: #002d18;
  color: #ffffff;
  padding: 3.125rem 0;
}

.container {
  max-width: 75rem; /* 1200px / 16 */
  margin: 0 auto;
  /* padding: 0 1.25rem; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  margin-bottom: 1.875rem;
  text-align: center;
  border: 0.00625rem rgba(255, 255, 255, 0.1) solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.footer-col:last-child {
  border-right: 0.00625rem rgba(255, 255, 255, 0.1) solid;
}

.footer-col h3 {
  font-size: 1.75rem; /* 28px / 16 */
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.25rem; /* 20px / 16 */
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.625rem; /* 10px / 16 */
}

.footer-col ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #ff0000; /* Change to desired hover color */
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 0.625rem; /* 10px / 16 */
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.25rem; /* 20px / 16 */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff0000; /* Change to desired hover color */
}

.footer-col p {
  line-height: 2.1875rem; /* 35px / 16 */
}

.name-store {
  padding-top: 1.25rem; /* 20px / 16 */
  width: 100%;
  border-top: 0.00625rem solid rgba(255, 255, 255, 0.1);
  font-size: 7.5rem; /* 120px / 16 */
  text-align: center;
}
