<footer>
  <div class="container">
    <div class="row">
      <div class="footer-col col-md-4">
        <h3>Navigation</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col col-md-4">
        <h3>Contact Information</h3>
        <p>123 Lacoste Street, Paris, France</p>
        <p>Email: info@lacoste.com</p>
        <p>Phone: +123456789</p>
      </div>
      <div class="footer-col col-md-4">
        <h3>Social Networks</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="name-store">
      LACOSTE
    </div>
  </div>
</footer>