<header class="header">
  <div class="icon">
    <div class="icon-dashboarh">
      <a href=""><img src="/img/admin/dashboard-circle-solid.svg" alt="" /></a>
    </div>
    <div class="logo-store">
      <a href=""><img src="/img/admin/logo.jpg" alt="" /></a>
    </div>
  </div>
  <div class="nav">
    <ul>
      <li><a href="/admin/category/list">Category</a></li>
      <li><a href="/admin/product/list">Product</a></li>
      <li><a href="/admin/account/list">Account</a></li>
      <li><a href="/admin/category/list">Order</a></li>
      <li><a href="/admin/category/list">Page Content</a></li>
      <li><a href="/admin/category/list">Feedback</a></li>
    </ul>
  </div>
  <div class="action-admin">
    <div class="search">
      <input type="text" placeholder="Find to Product" />
    </div>
    <div class="notifaciton">
      <img src="/img/admin/notifications-active-sharp.svg" alt="" />
    </div>
    <div class="setting">
      <img src="/img/admin/setting.svg" alt="" />
    </div>
    <div class="user">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg"
        alt=""
      />
    </div>
  </div>
</header>